@media screen and (min-width: 480px) {
.body {
  background-image:"therap img/bacg.png" ;
 font-family: Arial, sans-serif; 
}

.container {
 padding: 20px;
}
.header { 
 margin-bottom: 20px;
}
.header h1 {
  /* Al-Safa Clinic */
 margin: 0;
 position: absolute;
 left: 2.97%;
 right: 65.7%;
 top: 30.17%;
 bottom: 63.34%;
 font-family: Arial, sans-serif;
 font-style: italic;
 font-weight: 500;
 font-size: 49px;
 line-height: 50px;
 letter-spacing: 0.03em;
 background: radial-gradient(50% 50% at 50% 50%, #5DADC4 0%, #315467 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
}
.header p{
 position: absolute;
 left: 3.44%;
 right: 52.5%;
 top: 40.87%;
 bottom: 29.69%;
 font-family: Helvetica, sans-serif;
 font-style: normal;
 font-weight: 600;
 font-size: 24px;
 line-height: 1.5;
 color: #12121F;
 margin: 0;
}
/*button vv */
.large-box {
  background: #5dadc4;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.6rem #12121f;
  box-sizing: border-box;
  height: 4rem;
  left: 21rem;
  padding: 0.8rem 1.6rem;
  position: absolute;
  top: 35rem;
  width: 10rem;
}
/*join as */
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  text-decoration: none; /* Remove default link underline */
  color: inherit; /* Inherit text color */
  font-family: "Arial", sans-serif;
  font-size: 1.4rem;
  
}

.large-icon {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
}


/* button ^^ */
.logo{
    width: "100%";
}

/* -- about us --*/
.about_us {
  padding: 20px;
  margin-top: 1000px;
  width: 80%;
  left: 50px;
  position: relative;
}
.who{
  text-align: center;
   font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 49px;
  line-height: 80px;
  letter-spacing: 0.03em;
  background: radial-gradient(50% 50% at 50% 50%, #5DADC4 0%, #315467 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 }


.about img{
  width: 579px;
  height: 579px;
  position: absolute;
  left: -20px; 
}
.par{
  position: relative;
  text-align: left; /* Align paragraph text to the left */
  font-size: 140px; /* Set font size to appear smaller */
 top: 200px;
  margin-bottom: 20px; /* Adjust bottom margin */
  left: 660px;
}
/*Service */
.service{
  padding: 60px; /*changed*/
  margin-top: 500px;
}
.img1{

  width: 579px;
  left: 2000px;
  height: 579px;
  
}
.what{
  text-align: center;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 49px;
  line-height: 80px;
  letter-spacing: 0.03em;
  background: radial-gradient(50% 50% at 50% 50%, #5DADC4 0%, #315467 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.list{ /*الكتابة*/
  font-family: Arial,sans-serif;
top: -620px; /* للاعلى والاسفل */
left: 700px; /* لليسار*/
position: relative;
margin: 0;
text-align: left;
font-weight: 50px;
 font-size: 20px;
 line-height: 50px;
 letter-spacing: 0.03em;
}
.list li {
  font-weight: bold; /* Make English text thicker */
}
/*pages */
.contect{
  padding: 60px; /*changed*/
  margin-top: 500px;

}
.img2{
  width: 579px;
  position: absolute;
  right: 0rem; /* Align the element to the right side */
  height: 579px;
  top: 340%;
}
.menu {
  position: fixed;
  top: 10px; /* تغيير للاعلى والاسفل للشريط*/
  left: 15%; /* تغيير لليمين واليسار */
  transform: translateX(-50%);
  padding: 10px 30px; /* Adjust padding as needed */
  z-index: 1000; /* Ensure the menu bar appears above other content */
}

.menu ul {
 list-style-type: none;
 position: relative;
 width: 512px;
 height: 27px;
 right: -700px;
 top: 10px;
 font-family: Helvetica, sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 27px;
 color: #f8f8f8;
}

.menu ul li {
  display: inline;
 position: relative;
 margin-right: 60px; /* تغيير المسافه بين كل كلمه في الشريط*/
}

.menu ul li a {
  text-decoration: none;
 color: #12121f;
 position: relative;
}
.menu ul li a::before {
  content: '';
  position: absolute;
  top: 100%; /* Adjust as needed */
  left: 0;
  width: 0; /* Adjust as needed */
  height: 4px; /* Adjust as needed */
  background: #5dadc4; /*  تغيير لون الاضافه للشريط*/
  transition: .3s;
}
.menu ul li a:hover::before{
  width: 100%;
}
.logo1{
  background-color: #5dadc4; /* Background color */
  padding: 100px;
  text-align: center;
  width: 100%; /* Adjust width to take full width of the container */
  height: 160px;
  position: absolute;
  bottom: 0; /* Position at the bottom of the container */
  left: 0; /* Position at the left of the container */
  top: 3400px;
}
.img3{
  width: 15rem; /*حجم اللوغو الي تحت */
  position: absolute;
  left: 20px; 
  height: auto; 
  top: 70px;

}
}